@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
 font-family: 'Roboto', sans-serif;
 padding: 0;
 margin: 0;  
}

#mobile-main {
 display: none;
}

#desktop-main a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  padding: 0 1rem;
  transition: opacity 0.2s;
}

#desktop-main a:hover{
  color: #000;

}

.header-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 0;
  background-color: #2060CC;
  justify-content: space-around;
}

.sibling-fade:hover a:not(:hover) {
  opacity: 0.4;
}

header img {
  max-width: 200px;
  height: auto;
  padding: 12px;
}

.section-default{
  height: 100vh;
}

.section-default button{
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #B2CFFF;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.section-default button:hover{
  background-color: #FFC15D
}

.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-bg--section{
  background-color: #EBEEFF;
  color: #000;
}

.dark-bg--section{
  background-color: #8D95CA;
  color: #000;
}

.link-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.floating-button{
  position: fixed;
  padding: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #FFC15D;
  border-radius: 50%;
  transition: 0.3s;
  -webkit-box-shadow: 0px -1px 22px -2px rgba(0,0,0,0.78); 
  box-shadow: 0px -1px 22px -2px rgba(0,0,0,0.78);
}

.floating-button a{
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.floating-button:hover a{
  color: #2060CC;
}

.floating-button:hover{
  background-color: #fff;
}

.footer-links{
  display: grid;
  text-align: left;
}

.footer-links a{
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  margin-bottom: 0.5rem;
}

.footer-links a:hover{
  color: #000;
}

footer{
  padding: 40px;
  background: #8A5EC0;
  /* background: linear-gradient(135deg, rgba(32,96,204,1) 48%, rgba(255,99,0,1) 100%); */

  color: #fff;
  text-align: center;
}

@media screen and (max-width: 767px) {

  #desktop-main{
    display: none;
  }

  #mobile-main {
    display: grid;
  } 
  
  #menuToggle{
    display: block;
    position: relative;
    right: 10px;
    z-index: 1;
    user-select: none;
  }

  #menuToggle a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding-top: 2rem;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover{
    color: #FFC15D;
  }

  #menuToggle input{
    display: block;
    width: 45px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
  }

  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }

  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    background-color: #000;
    transform: rotate(45deg) translate(-2px, -1px);
  }

  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2){
    opacity: 1;
    background-color: #000;
    transform: rotate(-45deg) translate(0, -1px);
  }

  #mobileMainContent{
    position: absolute;
    width: 400px;
    height: 110vh;
    margin: -100px 0 0  -50px;
    background-color: #2060CC;
    padding: 25px;
    padding-top: 100px;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: 0.5s;
  }

  #menuToggle input:checked ~ ul{
    transform: none;
  }



}